body{
    background: rgb(2,0,36);
    background: linear-gradient(267deg, rgba(2,0,36,1) 0%, rgba(0,116,224,1) 35%, rgba(0,212,255,1) 100%);
    margin: 0px;
    padding: 0px;
    border: none;
    height: 100vh;
    width: 98vw;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    overflow: auto;
}
/*! TABELA PR INTEIR */
table{
    background-color: rgba(0, 0, 0, 0.329);
    border-collapse: collapse;
    color: white;    
    margin: 50px auto 0px;
    min-width: 1101.770px;
    max-width: 1214.200;
}

/*TODO PARTE DO THEAD */
thead th{
    font-size: 1.5em;
    min-width: 187.234px;
    padding: 16px;
    background-color: #0074e075;
}

/*TODO  PARTE DO TBODY  */
tbody th{
    font-size: 1.5em;
    height: 135px;
}
tbody td{
    max-width: 185.234px;
    font-size: 1.3em;
    font-weight: bolder;
}
tbody th{
    background-color: #0074e075;
}

/*? TABELA POR GERAL */
th,td{
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
}
/* ! links */
a{
    color: black;
    text-decoration: none;
}

/*? Java Basico */
.javaPOO:hover{
    background-image: url('img/javaPOO.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .4s;
}
.javaPOO:hover > a{
    color: #6baf7c;
    transition: .4s;
}
/*? C# */
.CSharp:hover{
    background-image: url('img/Csharp.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .4s;
}
.CSharp:hover > a{
    color: #a37ab4;
    transition: .4s;
}
/** linguagem C  */
.linguagemC:hover{
    background-image: url('img/CursoDeC.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .4s;
}
.linguagemC:hover > a{
    color: #546cf7;
    transition: .4s;
}
/** PHP  */
.php:hover{
    background-image: url('img/PHP-Banco-Dados.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .4s;
}
.php:hover > a{
    color: #3f3f70;
    transition: .4s;
}
/** HTLM E CSS */
.HTML5:hover{
    background-image: url('img/HTML5CSS3.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .4s;
}
.HTML5:hover > a{
    color: #b87e49;
    transition: .4s;
}

/** Inglês  */
.ingles:hover{
    background-image: url('img/Ingles.jpeg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .4s;
}
.ingles:hover > a{
    color: #D91A3D;
    transition: .4s;
}
/** JavaScript  */
.javascript:hover{
    background-image: url('img/Javascript.jpg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .4s;
}
.javascript:hover > a{
    color: #fadc45;
    transition: .4s;
}
/** Programação */
.programacao:hover{
    background-image: url('img/programacao-basica-03.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .4s;
}
.programacao:hover > a{
    color: #2C5959;
    transition: .4s;
}
/** Curso de Inteligência Artificial */
.IA:hover{
    background-image: url('img/CursoDeIA.jpeg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .4s;
}
.IA:hover > a{
    color: #555555;
    transition: .4s;
}

.black{
    color: black;
}